/* Inbox.module.css */

.inbox {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.message-list {
    list-style: none;
    padding: 0;
}

.message {
    border: 1px solid #ccc;
    margin-bottom: 2px;
    padding: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.action {
    background: transparent;
    border: none;
    display: none;
    cursor: pointer;
}

.message:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .action {
        display: block;
    }
}


.message div {
    flex: 1;
}

.message-sender {
    font-weight: bold;
}


@media (max-width: 768px) {
    .inbox {
        padding: 10px;
    }

    .message {
        padding: 8px;
    }

    .message-subject {
        display: none;
    }

    .message-sender {
        font-size: 12px;
    }

    .date {
        font-size: 12px;
    }
}